* {
    padding: 0;
    margin: 0;
}


/* header */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.header {
    display: flex;
    width: 100%;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(97, 108, 104, 0.9);
}

.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    display: block;
    padding: 10px;
    font-weight: 900;
}

.logo a:hover {
    background-color: rgb(119, 132, 127);
}

.navication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navication li {
    padding: 5px;
}

.navication a {
    text-decoration: none;
    padding: 15px;
    color: #fff;
    display: block;
    font-weight: bold;
}

.navication li:hover {
    background-color: rgb(119, 132, 127);
}


/* banner */

.banner {
    background-image: url(2.jpeg);
    min-height: 280px;
    width: auto;
    background-position: -127px -250px;
    background-repeat: no-repeat;
}


/* content */

.content {
    display: flex;
    width: 1280px;
    margin: 0px auto;
}


/* lef */

.content-left {
    flex-basis: 25vw;
    /* background-color: aqua;/ */
}

.text-h3 {
    display: block;
    text-align: center;
    padding: 15px;
}


/* right */

.right-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box {
    background-color: aqua;
    /* padding: 15px; */
    border-radius: 15px;
}

.search-text {
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 15px;
    background-color: aqua;
}

.search-btn {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: rgb(26, 145, 79);
    background-color: aqua;
    cursor: pointer;
}

.content-right {
    flex-basis: calc(100vw - 25vw);
    /* background-color: red; */
}

ul.list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --column: 4;
}

ul.list-item li {
    flex-basis: calc(100% / var(--column));
    list-style: none;
    padding: 0px 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
}

.product-item {
    display: flex;
    flex-direction: column;
}

.product-top .product-img img {
    width: 100%;
    height: 225px;
    display: block;
    object-fit: cover;
}

.product-top .product-buy {
    display: none;
}