.main-footer {
    font-size: 14px;
}
.form {
    display: flex;
    background: #FAFAFA;
    padding: 20px 0;
    margin: 10px 0;
}
.giao-hang {
    width: 25%;
    text-align: center;
}
.contact {
    display: flex;
    width: 95%;
    margin: auto;
}
.lien-he {
    width: 33.33%;
}
span.color-red {
    color: red;
}
.box-htch {
    background: #7D0000;
    color: white;
    text-align: center; 
    padding: 2px;
}
p.text-box-htch {
    margin: 6px;
    color: white;
}