    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /*========================= container ======================*/
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: relative;
    }
    
    .wrapper.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(208, 208, 208, 0.8);
        animation: .5s animation;
    }
    
    @keyframes animation {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
    
    li {
        cursor: pointer;
        margin-left: 5px;
    }
    
    li:hover a {
        background-color: #4B9C84;
        color: #fff;
        border-radius: 3px;
    }
    
    ul.menu {
        display: flex;
        justify-content: space-between;
        list-style: none;
        text-decoration: none;
        align-items: center;
    }
    
    @keyframes mymove {
        0% {
            transform: translateY(-100%);
        }
        50% {
            transform: translateY(0);
        }
    }
    
    a {
        padding: 10px;
        color: #524e4e;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        font-family: sans-serif;
    }
    /*========================= endContainer ======================*/
    /*========================= collapse ======================*/
    
    .collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        line-height: 48px;
        background-color: #4B9C84;
        position: relative;
        cursor: pointer;
        transition: all .5s ease;
        border-radius: 2px;
        display: none;
    }
    
    .collapse::after {
        position: absolute;
        content: "";
        transform: translateY(-8px);
        width: 80%;
        border-radius: 2px;
        height: 2px;
        transition: all .5s ease;
        background-color: #fff;
    }
    
    .collapse::before {
        position: absolute;
        content: "";
        transform: translateY(8px);
        width: 80%;
        border-radius: 2px;
        height: 2px;
        transition: all .5s ease;
        background-color: #fff;
    }
    
    .collapse.rotate {
        transition: all .5s ease;
        background-color: red;
    }
    
    .collapse.rotate::after {
        transform: rotate(45deg);
    }
    
    .collapse.rotate::before {
        transform: rotate(-45deg);
    }
    
    .collapse-child {
        width: 80%;
        border-radius: 2px;
        height: 2px;
        background-color: #fff;
        transition: all .5s ease;
    }
    
    .collapse-child.scale {
        transform: scale(0);
    }
    /*========================= endCollapse ======================*/
    /*========================= search ======================*/
    
    .search {
        position: relative;
        width: 300px;
        height: 40px;
    }
    
    input[type="text"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #524E4E;
        background: transparent;
        border: 1px solid rgb(86 66 66 / 50%);
        outline: none;
        border-radius: 5px;
        padding: 0px 15px 0px 45px;
        backdrop-filter: blur(10px);
    }
    
    .search input::placeholder {
        color: rgb(194, 190, 190);
        font-style: italic;
    }
    
    .search .fa-search {
        position: absolute;
        color: #4B9C84;
        top: 50%;
        left: 15px;
        cursor: pointer;
        border-right: 1px solid rgba(45, 37, 37, 0.53);
        padding-right: 10px;
        transform: translateY(-50%);
    }
    /*========================= endSearch ======================*/
    /*========================= cart ======================*/
    
    .fa-cart-shopping {
        color: #4B9C84;
        font-size: 25px;
        position: relative;
    }
    
    #_cartNum {
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translate(-50%, -50%);
        color: red;
    }
    /*========================= endCart ======================*/
    /*========================= banner ======================*/
    
    .banner {
        height: 100vh;
        /* padding-top: 50px; */
        /* padding-bottom: 50px; */
        background-image: url(./h7.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .tmp-mg {
        margin-top: 91px;
    }
    /*========================= endbanner ======================*/
    /*========================= reponsive ======================*/
    
    @media(max-width: 768px) {
        ul.menu {
            display: none;
            position: absolute;
            width: 100%;
            background: #d08787;
            top: 100%;
            left: 0px;
        }
        ul.menu.showhide {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(88, 69, 69, 0.53);
            width: 100%;
            animation: mymove .5s ease;
        }
        .collapse {
            display: flex;
        }
        li {
            margin-left: 0px;
        }
        .wrapper.fixed {
            padding: 0px;
        }
    }
    /*========================= endReponsive ======================*/