<button onclick="themtext()">Thêm text</button>
<select name="" id="mucgia" onchange="doimucgia(this)">
    <option value="-1">Chon muc gia</option>
    <option value="400">Muc 400</option>
    <option value="200">Muc 200</option>
    <option value="600">Muc 600</option>
</select>
<table>
    <tr>
        <td>chon <input type="checkbox" name="chonhet" onclick="chonhet()"> </td>
        <td>san pham</td>
        <td>gia</td>
        <td>
            soluong
        </td>
        <td>thanh tien</td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="chon" onclick="chonsp(this)">
        </td>
        <td>ip 12</td>

        <td name="dongia">500</td>
        <td>
            <input id="check" type="number" onkeyup="soluong(this)" disabled>
        </td>
        <td id="thanhtien" name="thanhtien"></td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="chon" onclick="chonsp(this)">
        </td>
        <td>ip 10</td>

        <td name="dongia">700</td>
        <td>
            <input id="check" type="number" onkeyup="soluong(this)" disabled>
        </td>
        <td id="thanhtien" name="thanhtien"></td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="chon" onclick="chonsp(this)">
        </td>
        <td>ip 14</td>

        <td name="dongia">400</td>
        <td>
            <input id="check" type="number" onkeyup="soluong(this)" disabled>
        </td>
        <td id="thanhtien" name="thanhtien"></td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="chon" onclick="chonsp(this)">
        </td>
        <td>ip 13</td>

        <td name="dongia">180</td>
        <td>
            <input id="check" type="number" onkeyup="soluong(this)" disabled>
        </td>
        <td id="thanhtien" name="thanhtien"></td>
    </tr>
    <tr>
        <td>
            Tong
        </td>
        <td></td>

        <td></td>
        <td>

        </td>
        <td id="tinhtong">0</td>
    </tr>
</table>
<p id="doan1"></p>
<script>
    function themtext() {
        var tn = document.createTextNode("hay song dep ");
        var p = document.getElementById("doan1");
        p.appendChild(tn);
        p.style.color = "red";

    }


    function chonsp(b) {
        // alert("a");
        var tr = b.parentNode.parentNode;
        var sl = tr.getElementsByTagName("input")[1];
        // var n = document.getElementById("check");
        // console.log(n);
        sl.disabled = !sl.disabled;
        console.log(tr);
        // var x = n.disabled;
        // console.log(x);
    }

    function soluong(a) {
        var slg = a.value;
        console.log(slg);
        // alert("a");
        var b = a.parentNode.parentNode;
        var dg = b.getElementsByTagName("td")[2].innerText;
        console.log(dg);
        var tt = slg * dg;
        console.log(tt);
        b.getElementsByTagName("td")[4].innerHTML = tt;
        tongtien();
        // document.getElementById("thanhtien").innerHTML = tt;
    }

    function tongtien() {
        tt = 0;
        var arr = document.getElementsByName("thanhtien");
        console.log(arr);
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].parentNode.style.display != "none") {
                var thanhtien = Number(arr[i].innerText);
                tt += thanhtien;
            }

        }
        document.getElementById("tinhtong").innerHTML = tt;
    }

    function doimucgia(cb) {
        // var mucdangchon = cb.value; 600, 400,200
        var mucdangchon = document.getElementById("mucgia").value;
        console.log(mucdangchon);
        var arr = document.getElementsByName("dongia");
        for (var i = 0; i <= arr.length; i++) {
            var gia = Number(arr[i].innerText);
            if (gia <= mucdangchon || mucdangchon == -1) {
                // hien dong tr
                arr[i].parentNode.style.display = "";
            } else {
                // an dong
                arr[i].parentNode.style.display = "none";


            }
            tongtien();

        }
    }

    function chonhet() {
        var all = document.getElementsByName("chon");
        for (var i = 0; i < all.length; i++) {
            all[i].click();
        }

    }
</script>
<ul id="thucung">
    <li>Chó</li>
    <li>Mèo</li>
    <li>Chim</li>
</ul>
<button onclick="abc()">Xóa mục đầu</button>
<button onclick="abcd()">Xóa Het</button>
<script>
    function abc() {
        var list = document.getElementById("thucung");
        // console.log(list);
        // var a = list.getElementsByTagName("li");
        // console.log(a);
        list.removeChild(list.childNodes[0]);
        // setTimeout(abc);
    }

    function abcd() {
        var list = document.getElementById("thucung");
        // console.log(list);
        // var a = list.getElementsByTagName("li");
        // console.log(a);
        list.removeChild(list.childNodes[1]);
        setTimeout(abcd);
    }
</script>
<!-- Chú ý  <li> không có khoảng trắng ở đầu -->