    .square {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: transparent;
        border: 5px solid red;
        border-right: 5px solid transparent;
        animation: spinner 2s infinite linear;
        /* transform: rotate(15deg); */
        margin: 15px;
    }
    
    @keyframes spinner {
        from {
            transform: rotate(360deg);
        }
        /* to {
            transform: rotate(-360deg);
        } */
    }
    
    .tamgiac {
        --clippat: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
        width: 200px;
        float: left;
        height: 200px;
        clip-path: var(--clippat);
        shape-outside: var(--clippat);
        background-color: red;
        margin-right: 10px;
    }
    
    .tamgiac .img {
        background-position: 10px;
    }
    
    .wrapper {
        clear: both;
    }