* {
    padding: 0;
    margin: 0;
}

:root {
    --img: 1.jpg;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,200&family=Open+Sans:wght@500&family=Roboto+Mono:ital@1&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
    color: rgb(0, 0, 0);
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0px auto;
    max-width: 960px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed rgb(226, 212, 210);
    /* position: fixed; */
    /* background-color: aliceblue; */
}

.logo {
    text-transform: uppercase;
    color: rgb(96, 63, 63);
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #000;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header.sticky {
    background-color: #fff;
    opacity: 0.9;
    /* color: #000; */
    transition: all 0.3s ease-in-out;
}

header.sticky #main-menu a {
    color: rgb(27, 26, 26);
    list-style: none;
}

ul#main-menu {
    display: flex;
}

ul#main-menu li a {
    /* background-color: aqua; */
    text-transform: uppercase;
    padding: 10px 20px;
    color: rgb(96, 63, 63);
    display: block;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
}

ul#main-menu li a::after {
    display: block;
    content: "";
    height: 5px;
    width: 0;
    background-color: tomato;
    position: absolute;
    /* bottom: 0;
    left: 0; */
}

ul#main-menu li a:hover::after {
    width: 35%;
    transition: all 0.3s ease-in-out;
    transform: translateX(100%);
}

.banner {
    background: url(2.jpeg);
    min-height: 280px;
    width: 100%;
    /* background: cover; */
    background-position-y: -255px;
    background-position-x: -150px;
}


/* content */

.content {
    width: 1280px;
    display: flex;
    margin: 0px auto;
}

.content .content-left {
    flex-basis: 20vw;
    height: auto;
    color: #6e8b7e;
}

.content .content-left .menu-sub1 {
    color: #6e8b7e;
}

.content .content-right {
    flex-basis: calc(100vw - 20vw);
    height: auto;
    margin: 0px auto;
}

.content .content-left .menu-sub1 {
    margin-top: 15px;
}

.content .content-left .menu-sub1 li a {
    display: block;
    text-align: center;
    padding: 8px;
}

.content .content-left .menu-sub1 li p {
    display: block;
    text-align: center;
    padding: 8px;
    border-bottom: 1px dashed #a9a2a5;
}

.content .content-left .menu-sub1 li {
    position: relative;
}

.content .content-left .menu-sub1 li a {
    display: block;
    text-align: center;
    padding: 8px 0px;
    background-color: #a9a2a5;
    position: absolute;
    bottom: -32px;
    width: 100%;
    opacity: 0;
}

.content .content-left .menu-sub1 li:hover a {
    bottom: 0px;
    opacity: 1;
    height: auto;
    padding: 8px 0px;
    font-weight: 900;
    transition: all 0.25s ease-in-out;
    color: #d65656;
}

.text {
    text-align: center;
    margin: 20px 0px;
    color: rgb(210, 136, 136);
}

.head2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

#search-box {
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
}

#search-text {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px 0px 15px 25px;
    background-color: #fff;
    border-radius: 30px;
    color: #000;
    opacity: 0;
}

#search-btn {
    border: none;
    font-size: 18px;
    padding: 13px;
    /* position: ; */
    font-weight: 900;
    cursor: pointer;
    color: #d65656;
    border-radius: 30px;
}

#search-box:hover #search-text {
    opacity: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px 0px 15px 25px;
    background-color: #bcd2d3;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;
}

#search-box:hover #search-btn {
    background-color: #bcd2d3;
    transition: all 0.25s ease-in-out;
}

#search-box:hover {
    background-color: #bcd2d3;
    transition: all 0.25s ease-in-out;
}

#search-text:valid {
    opacity: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 15px 0px 15px 25px;
    background-color: #bcd2d3;
    border-radius: 30px;
    transition: all 0.25s ease-in-out;
}

#search-btn:valid {
    background-color: #bcd2d3;
    transition: all 0.25s ease-in-out;
}

#search-box:valid {
    background-color: #bcd2d3;
    transition: all 0.25s ease-in-out;
}

ul.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --spacing: 10px;
    --columns: 4;
    /* padding: 10px; */
}

.product-item {
    display: flex;
    flex-direction: column;
}

ul.product li {
    flex-basis: calc(100% / var(--columns));
    list-style: none;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.product li img {
    max-width: 100%;
    height: 225px;
    display: block;
    object-fit: cover;
}

ul.product li .product-top {
    position: relative;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
}

ul.product li .product-top .product-thum {
    display: block;
}

ul.product li:hover .product-thum img {
    transform: scale(1.1);
    opacity: 0.6;
    transition: all 0.25s ease-in-out;
}

ul.product li {
    display: flex;
}

ul.product .product-info {
    padding: 10px 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
}

ul.product li .product-info a {
    text-decoration: none;
    display: block;
}

ul.product li .product-info a.product-cat {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 5px;
    color: #d88c8c;
}

ul.product li .product-info a.product-cat:hover {
    text-decoration: underline;
}

ul.product li .product-info a.product-name {
    color: #6e8b7e;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.product li .product-info a.product-name:hover {
    text-decoration: underline;
}

ul.product li .product-price {
    color: rgb(42, 72, 170);
    font-weight: 600;
    margin-top: auto;
}

ul.product li .product-top a.buy-now {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #fff;
    background-color: aqua;
    position: absolute;
    width: 100%;
    padding: 8px;
    bottom: -35px;
}

ul.product li:hover a.buy-now {
    bottom: 0px;
    opacity: 0.6;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
}


/* footer */

.footer {
    background-color: #c5bec2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    font-weight: bold;
    text-align: center;
}

@media (max-width:600px) {
    .content {
        display: block;
    }
    .product {
        display: block;
    }
    .product-item {
        display: flex;
        flex-direction: column;
    }
    li:nth-child(even) .product-top {
        order: 1;
    }
    ul.product {
        display: block;
    }
    .product-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    ul.product li .product-top {
        width: 216px;
        flex-shrink: 0;
    }
    ul.product li .product-info a.product-name {
        color: #6e8b7e;
        width: 200px;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}