* {
    margin: 0;
    padding: 0;
}

#wrapper {
    background-image: url(1.jpg);
    background-size: cover;
    max-width: 100vw;
    background-position-y: -100px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container ul#main-menu {
    display: flex;
}