* {
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    color: skyblue;
}

main {
    background-color: rgb(231, 226, 227);
}

form {
    max-width: 500px;
    margin: auto;
    /* border: 1px solid rgb(146, 101, 101);
    padding: 10px; */
    /* margin-top: 50px; */
}

.image {
    display: inline-block !important;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
}

[type='submit'] {
    display: block;
}

.error {
    color: red;
}

.uploadfile {
    background: #555;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.uploadfile:hover {
    background: #666;
}

#uploadfile {
    display: none;
}