

* {
    padding: 0;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    color: skyblue;
}

form {
    max-width: 500px;
    margin: auto;
    border: 1px solid rgb(146, 101, 101);
    padding: 10px;
    margin-top: 50px;
}

.image {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.error {
    background-color: #e36d6d;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

main {
    background-color: rgb(231, 226, 227);
}
